@model List<CarAPI.Models.Car>
@{
    ViewData["Title"] = "Samochody";
}


<h1>Samochody</h1>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Marka</th>
            <th>Model</th>
            <th>Moc</th>
            <th>Rok produkcji</th>
            <th>  </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var car in Model)
        {
            <tr>
                <td>@car.Id</td>
                <td>@car.Brand</td>
                <td>@car.Model</td>
                <td>@car.Power</td>
                <td>@car.ProductionYear</td>
                <td> @using (Html.BeginForm("List" , "Car", FormMethod.Post))
                {
                    <inpust typeof="hidden" name="Id" value="@car.Id" />
                    <button type="submit">Usun</button>

                    }</td>
                <td>
                    @using (Html.BeginForm("Edit", "Car",new { Id = car.Id }, FormMethod.Post))
                    {
                    <inpust typeof="hidden" name="Id" value="@car.Id" />
                    <button type="submit">Edytuj</button>

                    }</td>
            </tr>
        }
    </tbody>

</table>
