@model List<CarAPI.Models.Car>
@{
    ViewData["Title"] = "Lista samochodów";
}
@{int rowNo = 1;}

<h1>Lista samochodów</h1>
<table class="table">
    <thead>
        <tr>
            <th>LP.</th>
            <th>Marka</th>
            <th>Model</th>
            <th>Moc (w KM)</th>
            <th>Rok produkcji</th>
            <th>  </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var car in Model)
        {
            <tr>
                <td>@((rowNo++) + ".")</td>
                <td>@car.Brand</td>
                <td>@car.Model</td>
                <td>@car.Power</td>
                <td>@car.ProductionYear</td>
                <td>
                    <a href="@Url.Action("GetById","Car", new { Id = car.Id })"><i class="btn btn-secondary">Szczegóły</i></a>
                </td>
                <td>
                    <a href="@Url.Action("Edit","Car", new { Id = car.Id })"><i class="btn btn-primary">Edytuj</i></a>
                </td>
                <th>
                    @using (Html.BeginForm("Delete", "Car", new { Id = car.Id }, FormMethod.Post))
                    {
                    <input type="hidden" name="Id" value="@car.Id" />
                    <button class="btn btn-danger" type="submit">Usuń</button>
                    }
                </th>
            </tr>
        }
    </tbody>

</table>
