@model List<CarAPI.Models.Car>
@{
}


<h1>Cars</h1>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Marka</th>
            <th>Model</th>
            <th>Moc</th>
            <th>Rok produkcji</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var car in Model)
        {
            <tr>
                <td>@car.Id</td>
                <td>@car.Brand</td>
                <td>@car.Model</td>
                <td>@car.Power</td>
                <td>@car.ProductionYear</td>
            </tr>
        }
    </tbody>

</table>